%ul
- @maps.each do |map|
  %li{ :style => "list-style-type: none;" }
    %p
      %strong
        = map.title
      %br
      = map.description
      %br
      = link_to "Edit", :action => "edit", :id => map.id
      &nbsp; | &nbsp;
      = link_to "Show", :action => "show", :id => map.id
      &nbsp; | &nbsp;
      = link_to "Make Default", :action => "show", :id => map.id
      &nbsp; | &nbsp;
      = link_to "Unpublish", :action => "show", :id => map.id
      