#content.grid_12
  .grid_12.alpha
    %h2
      = @poi.label
  .clear
  #bigmap.grid_12.alpha
    = render :partial => 'maps/poi_map', :locals => { :map => @map }
  .clear
  #news.grid_4.alpha
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :action => "add_content", :content_type => "news", :poi_id => @poi.id }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );"
    = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), interest_point_news_index_url( @poi, :format => "xml" )
    %h1
      news
      = image_tag "newscon.png", { :border => 0 }
    .infoblock
      - unless @news.empty?
        - @news.each do |news|
          %h2
            = link_to truncate( news.headline, 30 ), news_url( news )
      - else
        %h2 No news...be the first to post!
      %h5
        - unless @news.empty?
          = link_to "more>>", interest_point_news_index_url( @poi )
        -else
          more>>
  #events.grid_4
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :action => "add_content", :content_type => "event", :poi_id => @poi.id }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );"
    = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), interest_point_events_url( @poi, :format => "xml" )
    %h1
      events
      = image_tag "eventscon.png", { :border => 0 }
    .infoblock
      - unless @events.empty?
        - @events.each do |event|
          %h2
            = link_to truncate( event.headline, 30 ), event_url( event )
      - else
        %h2 No events...be the first to post!
      %h5
        - unless @events.empty?
          = link_to "more>>", interest_point_events_url( @poi )
        -else
          more>>
  #promos.grid_4.omega
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      promos
      = image_tag "promocon.png", { :border => 0 }
    .infoblock
      %h2 No promos...be the first to post!
  .clear
  #network.grid_4.alpha
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :action => "add_content", :content_type => "network", :poi_id => @poi.id }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );"
    = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), interest_point_networks_url( @poi, :format => "xml" )
    %h1
      network
      = image_tag "networkcon.png", { :border => 0 }
    .infoblock
      - unless @networks.empty?
        - @networks.each do |network|
          %h2
            = link_to truncate( network.headline, 30 ), network_url( network )
      - else
        %h2 No networks...be the first to post!
      %h5
        - unless @networks.empty?
          = link_to "more>>", interest_point_networks_url( @poi )
        -else
          more>>
  #stuff.grid_4
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :action => "add_content", :content_type => "stuff", :poi_id => @poi.id }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );"
    = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), interest_point_stuffs_url( @poi, :format => "xml" )
    %h1
      stuff
      = image_tag "stuffcon.png", { :border => 0 }
    .infoblock
      - unless @stuffs.empty?
        - @stuffs.each do |stuff|
          %h2
            = link_to truncate( stuff.headline, 30 ), stuff_url( stuff )
      - else
        %h2 No stuff...be the first to post!
      %h5
        - unless @stuffs.empty?
          = link_to "more>>", interest_point_stuffs_url( @poi )
        -else
          more>>
  .grid_4.omega
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :action => "add_content", :content_type => "fix_it", :poi_id => @poi.id }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );"
    = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), interest_point_fix_its_url( @poi, :format => "xml" )
    %h1
      let's fix it
      = image_tag "fixcon.png", { :border => 0 }
    #fixit.infoblock
      - unless @fix_its.empty?
        - @fix_its.each do |fix_it|
          %h2
            = link_to truncate( fix_it.headline, 30 ), fix_its_url( fix_it )
      - else
        %h2 No projects...be the first to post!
      %h5
        - unless @fix_its.empty?
          = link_to "more>>", interest_point_fix_its_url( @poi )
        -else
          more>>


#postcontent{ :title => "Post New Content" }
  %table{ :width => "100%" }
    %tr
      %td{ :style => "vertical-align: top;" }
        #postcontentform
      %td{ :align => "right" }
        Set the location
        %br
        %br
        :javascript
          var poiBounds = null;
        = render :partial => "maps/post_map", :locals => { :poi => @poi }

:javascript
  $j( '#postcontent' ).dialog( { width : 800, position : [ -10000, -10000 ] } );
  $j( '#postcontent' ).dialog( 'option', 'center', 'true' );
  $j( '#postcontent' ).dialog( 'option', 'resizable', false );