#content.grid_12
  .grid_12.alpha
    %h2
      = @poi.label
  .clear
  #midmap.grid_12.alpha
    = render :partial => 'maps/poi_map', :locals => { :map => @map }
  .clear
  #news.grid_4.alpha
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :action => "add_content", :content_type => "news", :poi_id => @poi.id }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );"
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      news
      = image_tag "newscon.png", { :border => 0 }
    .infoblock
      - unless @news.empty?
        - @news.each do |news|
          %h2
            = link_to truncate( news.headline, 30 ), news_url( news )
      - else
        %h2 No news...be the first to post!
      %h5
        - unless @news.empty?
          = link_to "more>>", interest_point_news_index_url( @poi )
        -else
          more>>
  #events.grid_4
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      events
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  #promos.grid_4.omega
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      promos
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  .clear
  #network.grid_4.alpha
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      network
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  #stuff.grid_4
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }      
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      stuff
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  .grid_4.omega
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      fix it
    #fixit.infoblock
      %h2
        headline
      %h2
        headline
      %h5
        more>>
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      better
    .infoblock
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  .clear

#postcontent{ :title => "Post New Content" }
  %table{ :width => "100%" }
    %tr
      %td{ :style => "vertical-align: top;" }
        #postcontentform
      %td{ :align => "right" }
        Set the location
        %br
        %br
        :javascript
          var poiBounds = null;
        = render :partial => "maps/post_map", :locals => { :poi => @poi }

:javascript
  $j( '#postcontent' ).dialog( { width : 800, position : [ -10000, -10000 ] } );
  $j( '#postcontent' ).dialog( 'option', 'center', 'true' );