#content.grid_12
  .grid_12.alpha
    %h2
      = @poi.label
  .clear
  #bigmap.grid_12.alpha
    = render :partial => 'maps/poi_map', :locals => { :map => @map }
  .clear
  #news.grid_4.alpha
    - if current_user
      = link_to image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), { :controller => "posts", :action => "new", :pt => "news", :poi_id => @poi.id }, :class => "tooltip", :title => "Post News"
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post News"
    = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), all_news_posts_url( @poi, :format => "xml" ), :class => "tooltip", :title => "Subscribe to News Feed"
    %h1
      = link_to "news", posts_url(:shortname => "news", :interest_point_id => @poi.id)
      = image_tag "map_icons/news/newsimage.png", { :border => 0, :height => 20 }
    .infoblock
      - unless @news.empty?
        - @news.each do |news|
          %h2.headline
            = link_to truncate( news.short_headline, 39 ), news_post_url( news )
      - else
        %h2.headline  No news...be the first to post!
  #events.grid_4
    - if current_user
      = link_to image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), { :controller => "posts", :action => "new", :pt => "events", :poi_id => @poi.id }, :class => "tooltip", :title => "Post Event"
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post Event"
    = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), all_events_posts_url( @poi, :format => "xml" ), :class => "tooltip", :title => "Subscribe to Event Feed"
    %h1
      = link_to "events", posts_url(:shortname => "events", :interest_point_id => @poi.id)
      = image_tag "map_icons/events/eventsimage.png", { :border => 0, :height => 20 }
    .infoblock
      - unless @events.empty?
        - @events.each do |event|
          %h2.headline
            = link_to truncate( event.short_headline, 39 ), events_post_url( event )
      - else
        %h2.headline  No events...be the first to post!
  #promos.grid_4.omega
    = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), all_promos_posts_url( @poi, :format => "xml" ), :class => "tooltip", :title => "Subscribe to Business Promotions Feed"
    %h1
      = link_to "biz promos", posts_url(:shortname => "promos", :interest_point_id => @poi.id)
      = image_tag "map_icons/promos/promosimage.png", { :border => 0, :height => 20 }
    .infoblock
      %h2.headline No promos...be the first to post!
  .clear
  #network.grid_4.alpha
    - if current_user
      = link_to image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), { :controller => "posts", :action => "new", :pt => "network", :poi_id => @poi.id }, :class => "tooltip", :title => "Post Network Item"
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post Network Item"
    = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), all_networks_posts_url( @poi, :format => "xml" ), :class => "tooltip", :title => "Subscribe to Network Feed"
    %h1
      = link_to "network", posts_url(:shortname => "network", :interest_point_id => @poi.id)
      = image_tag "map_icons/network/networkimage.png", { :border => 0, :height => 20 }
    .infoblock
      - unless @networks.empty?
        - @networks.each do |network|
          %h2.headline
            = link_to truncate( network.short_headline, 39 ), networks_post_url( network )
      - else
        %h2.headline No networks...be the first to post!
  #stuff.grid_4
    - if current_user
      = link_to image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), { :controller => "posts", :action => "new", :pt => "stuff", :poi_id => @poi.id }, :class => "tooltip", :title => "Post your Stuff"
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post your Stuff"
    = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), all_stuff_posts_url( @poi, :format => "xml" ), :class => "tooltip", :title => "Subscribe to Stuff Feed"
    %h1
      = link_to "stuff", posts_url(:shortname => "stuff", :interest_point_id => @poi.id)
      = image_tag "map_icons/stuff/stuffimage.png", { :border => 0, :height => 20 }
    .infoblock
      - unless @stuffs.empty?
        - @stuffs.each do |stuff|
          %h2.headline
            = link_to truncate( stuff.short_headline, 39 ), stuff_post_url( stuff )
      - else
        %h2.headline No stuff...be the first to post!
  .grid_4.omega
    - if current_user
      = link_to image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), { :controller => "posts", :action => "new", :pt => "fixit", :poi_id => @poi.id }, :class => "tooltip", :title => "Post Community Project"
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post Fix It"
    = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), all_fixit_posts_url( @poi, :format => "xml" ), :class => "tooltip", :title => "Subscribe to Fix It Feed"
    %h1
      = link_to "let's fix it", posts_url(:shortname => "fixit", :interest_point_id => @poi.id)
      = image_tag "map_icons/fixit/fixitimage.png", { :border => 0, :height => 20 }
    #fixit.infoblock
      - unless @fix_its.empty?
        - @fix_its.each do |fix_it|
          %h2.headline
            = link_to truncate( fix_it.short_headline, 39 ), fixit_post_url( fix_it )
      - else
        %h2.headline No projects...be the first to post!


#postcontent{ :title => "Post New Content" }
  = render :partial => "citycircles/post_content", :locals => { :poi => @poi }

:javascript
  $j( '#postcontent' ).dialog( { width : 800, position : [ -10000, -10000 ], open : function( event, ui ) { $j( ".ui-dialog-titlebar-close" ).hide(); } } );
  $j( '#postcontent' ).dialog( 'option', 'center', 'true' );
  $j( '#postcontent' ).dialog( 'option', 'resizable', false );
  $j( '#postcontent' ).dialog( 'option', 'draggable', false );
  $j( '#postcontent' ).dialog( 'option', 'closeOnEscape', false );
  $j( "a.tooltip" ).tooltip( { track: true, delay: 0, showURL: false, showBody: " - ", fade: 250 } );
  
- if params[ :content_type ]
  :javascript
    $j( document ).ready( function () { new Ajax.Request('/interest_points/add_content?content_type=#{params[ :content_type ]}&poi_id=#{ @poi.id }', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('#{ session[ :_csrf_token ] }')}); } );
