- form_tag "/posts/new", :method => :get do |f|
  %br
  = label_tag :station
  %br
  = select_tag "poi_id", options_for_select( @default_map.interest_points.collect { |poi| [ poi.label, poi.id ] } )
  %br
  = label_tag :what_type_of_content
  %br
  = select_tag "pt", options_for_select( @post_universal_content_options )
  %br
  %br
  = submit_tag "OK"
