#content.grid_12
  #midmap.grid_12.alpha
    = render :partial => "maps/map", :locals => { :map => @map }
  .clear
  - if @under_map_ad != nil
    #under_map_ad.grid_12.alpha
      - if @under_map_ad.link_uri != nil
        = link_to( image_tag( @under_map_ad.graphic.url( :homepage_under_map ) ), @under_map_ad.link_uri, :target => "_blank" )
      - else
        = image_tag @under_map_ad.graphic.url( :homepage_under_map )
    .clear
  .grid_12.alpha
    = render :partial => "citycircles/mini_twitter_feed"
  .clear
  
  
  #news.grid_4.alpha
    #infohead
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :controller => "citycircles", :action => "universal_add_content", :content_type_index => 0 }, :html => { :class => "tooltip", :title => "Post News" }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post News"
    %a{ :href => "#", :class => "tooltip", :title => "Subscribe to News Feed" }
      = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), all_news_posts_url( @poi, :format => "atom" ), :class => "tooltip", :title => "Subscribe to News Feed"
    %h1
      = link_to "news", all_news_posts_url( @poi, :shortname => "news" ), :class => "tooltip", :title => "Stories from the community"
      = image_tag "map_icons/news/newsimage.png", { :border => 0, :height => 20 }
    .infoblock
      - unless @news.empty?
        - @news.each do |news|
          %h2.headline
            = link_to truncate( news.short_headline, :length => 39 ), news_post_url( news )
      - else
        %h2.headline No news...be the first to post!
      
 
  #events.grid_4
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :controller => "citycircles", :action => "universal_add_content", :content_type_index => 1 }, :html => { :class => "tooltip", :title => "Post Events" }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post Events"
    %a{ :href => "#", :class => "tooltip", :title => "Subscribe to Event Feed" }
      = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), all_events_posts_url( @poi, :format => "atom" ), :class => "tooltip", :title => "Subscribe to Event Feed"
    %h1
      = link_to "events", posts_url(:shortname => "events"), :class => "tooltip", :title => "Things to do and see"
      = image_tag "map_icons/events/eventsimage.png", { :border => 0, :height => 20 }
    .infoblock
      - unless @events.empty?
        - @events.each do |event|
          %h2.headline
            = link_to truncate( event.short_headline, :length => 39 ), events_post_url( event )
      - else
        %h2.headline No events...be the first to post!
        
        
  #promos.grid_4.omega
    %a{ :href => "#", :class => "tooltip", :title => "Subscribe to Business Promotions Feed" }
      = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), all_promos_posts_url( @poi, :format => "atom" ), :class => "tooltip", :title => "Subscribe to Business Promotions Feed"
    %h1
      = link_to "biz promos", posts_url(:shortname => "promos"), :class => "tooltip", :title => "Ads from local merchants"
      = image_tag "map_icons/promos/promosimage.png", { :border => 0, :height => 20 }
    .infoblock
      %h2.headline 
        No promos...be the first to post!
        
        
  #network.grid_4.alpha
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :controller => "citycircles", :action => "universal_add_content", :content_type_index => 2 }, :html => { :class => "tooltip", :title => "Post Networks" }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post Networks"
    %a{ :href => "#", :class => "tooltip", :title => "Subscribe to Network Feed" }
      = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), all_networks_posts_url( @poi, :format => "atom" ), :class => "tooltip", :title => "Subscribe to Network Feed"
    %h1
      = link_to "network", posts_url(:shortname => "network"), :class => "tooltip", :title => "Jobs, resumes and gigs"
      = image_tag "map_icons/network/networkimage.png", { :border => 0, :height => 20 }
    .infoblock
      - unless @networks.empty?
        - @networks.each do |network|
          %h2.headline
            = link_to truncate( network.short_headline, :length => 39 ), networks_post_url( network )
      - else
        %h2.headline No networks...be the first to post!
        
        
  #stuff.grid_4
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :controller => "citycircles", :action => "universal_add_content", :content_type_index => 3 }, :html => { :class => "tooltip", :title => "Post Stuff" }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post Stuff"
    %a{ :href => "#", :class => "tooltip", :title => "Subscribe to the Stuff Feed" }
      = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), all_stuff_posts_url( @poi, :format => "atom" ), :class => "tooltip", :title => "Subscribe to Stuff Feed"
    %h1
      = link_to "stuff", posts_url(:shortname => "stuff"), :class => "tooltip", :title => "Classifieds for the community"
      = image_tag "map_icons/stuff/stuffimage.png", { :border => 0, :height => 20 }
    .infoblock
      - unless @stuffs.empty?
        - @stuffs.each do |stuff|
          %h2.headline
            = link_to truncate( stuff.short_headline, :length => 39 ), stuff_post_url( stuff )
      - else
        %h2.headline No stuff...be the first to post!
        
        
  .grid_4.omega
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :controller => "citycircles", :action => "universal_add_content", :content_type_index => 4 }, :html => { :class => "tooltip", :title => "Post Fix It" }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post Fix It"
    %a{ :href => "#", :class => "tooltip", :title => "Subscribe to Fix It Feed" }
      = link_to image_tag( "smallrss.png", { :class => "buttonfloat", :border => 0 } ), all_fixit_posts_url( @poi, :format => "atom" ), :class => "tooltip", :title => "Subscribe to Fix It Feed"
    %h1
      = link_to "let's fix it", posts_url(:shortname => "fixit"), :class => "tooltip", :title => "Community improvement projects"
      = image_tag "map_icons/fixit/fixitimage.png", { :border => 0, :height => 20 }
      
      
    #fixit.infoblock
      - unless @fix_its.empty?
        - @fix_its.each do |fix_it|
          %h2.headline
            = link_to truncate( fix_it.short_headline, :length => 39 ), fixit_post_url( fix_it )
      - else
        %h2.headline No fix it projects...be the first to post!
  .clear

  #postuniversalcontent{ :title => "Which Station?" }
  :javascript
    $j( '#postuniversalcontent' ).dialog( { width : 300, position : [ -10000, -10000 ] } );
    $j( '#postuniversalcontent' ).dialog( 'option', 'center', 'true' );
    $j( '#postuniversalcontent' ).dialog( 'option', 'resizable', false );
    $j( '#postuniversalcontent' ).dialog( 'option', 'draggable', false );

:javascript
  $j( "a.tooltip" ).tooltip( { track: true, delay: 0, showURL: false, showBody: " - ", fade: 250 } );
  
  $j( document ).ready( function() {
    $j( "#mini-twtr-feed" ).tweet( {
      query : "%40citycirc+OR+%23citycircles",
      count : 3,
      loading_text : "loading tweets..."
    } );
  } );
