#content.grid_12
  #midmap.grid_12.alpha
    = render :partial => "maps/map", :locals => { :map => @map }
  .clear
  .grid_12.alpha
    = render :partial => "citycircles/mini_twitter_feed"
  .clear
  #news.grid_4.alpha
    #infohead
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :controller => "citycircles", :action => "universal_add_content", :content_type_index => 0 }, :html => { :class => "tooltip", :title => "Post News" }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post News"
    %a{ :href => "#", :class => "tooltip", :title => "Subscribe to News Feed" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      news
      = image_tag "map_icons/news/newsimage.png", { :border => 0, :height => 20 }
    .infoblock
      - unless @news.empty?
        - @news.each do |news|
          %h2
            = link_to truncate( news.headline, :length => 30 ), news_post_url( news )
      - else
        %h2 No news...be the first to post!
      
 
  #events.grid_4
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :controller => "citycircles", :action => "universal_add_content", :content_type_index => 1 }, :html => { :class => "tooltip", :title => "Post Event" }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post Event"
    %a{ :href => "#", :class => "tooltip", :title => "Subscribe to Event Feed" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      events
      = image_tag "map_icons/events/eventsimage.png", { :border => 0, :height => 20 }
    .infoblock
      - unless @events.empty?
        - @events.each do |event|
          %h2
            = link_to truncate( event.headline, :length => 30 ), events_post_url( event )
      - else
        %h2 No events...be the first to post!
  #promos.grid_4.omega
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#", :class => "tooltip", :title => "Subscribe to Business Promotions Feed" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      biz promos
      = image_tag "map_icons/promos/promosimage.png", { :border => 0, :height => 20 }
    .infoblock
      %h2 No promos...be the first to post!
  #network.grid_4.alpha
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :controller => "citycircles", :action => "universal_add_content", :content_type_index => 2 }, :html => { :class => "tooltip", :title => "Post Network Item" } 
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post Network Item"
    %a{ :href => "#", :class => "tooltip", :title => "Subscribe to Network Feed" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      network
      = image_tag "map_icons/network/networkimage.png", { :border => 0, :height => 20 }
    .infoblock
      - unless @networks.empty?
        - @networks.each do |network|
          %h2
            = link_to truncate( network.headline, :length => 30 ), networks_post_url( network )
      - else
        %h2 No networks...be the first to post!
  #stuff.grid_4
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :controller => "citycircles", :action => "universal_add_content", :content_type_index => 3 }, :html => { :class => "tooltip", :title => "Post Your Stuff" }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post Your Stuff"
    %a{ :href => "#", :class => "tooltip", :title => "Subscribe to the Stuff Feed" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      stuff
      = image_tag "map_icons/stuff/stuffimage.png", { :border => 0, :height => 20 }
    .infoblock
      - unless @stuffs.empty?
        - @stuffs.each do |stuff|
          %h2
            = link_to truncate( stuff.headline, :length => 30 ), stuff_post_url( stuff )
      - else
        %h2 No networks...be the first to post!
  .grid_4.omega
    - if current_user
      = link_to_remote image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), :url => { :controller => "citycircles", :action => "universal_add_content", :content_type_index => 4 }, :html => { :class => "tooltip", :title => "Post Community Project" }
    - else
      = link_to_function image_tag( "smalladd.png", { :class => "buttonfloat", :border => 0 } ), "$j( '#whoops' ).html( 'You must sign in to post content.' ).dialog( 'open' );", :class => "tooltip", :title => "Post Community Project"
    %a{ :href => "#", :class => "tooltip", :title => "Subscribe to Community Projects Feed" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      let's fix it
      = image_tag "map_icons/fixit/fixitimage.png", { :border => 0, :height => 20 }
    #fixit.infoblock
      - unless @fix_its.empty?
        - @fix_its.each do |fix_it|
          %h2
            = link_to truncate( fix_it.headline, :length => 30 ), fixit_post_url( fix_it )
      - else
        %h2 No networks...be the first to post!
  .clear

:javascript
  $j( "a.tooltip" ).tooltip( { track: true, delay: 0, showURL: false, showBody: " - ", fade: 250 } );
  
  $j( document ).ready( function() {
    $j( "#mini-twtr-feed" ).tweet( {
      query : "%40citycirc+OR+%23citycircles",
      count : 3,
      loading_text : "loading tweets..."
    } );
  } );
