#content.grid_12
  #midmap.grid_8.alpha
    = render :partial => 'maps/map', :locals => { :map => @map }
  #twitter.grid_4.omega
    #twtr-search-widget
    = javascript_include_tag "http://widgets.twimg.com/j/1/widget.js"
    = stylesheet_link_tag "http://widgets.twimg.com/j/1/widget.css"
    :javascript
      new TWTR.Widget({
        search: '_citycircles OR #citycircles',
        id: 'twtr-search-widget',
        loop: true,
        title: 'City Circles',
        subject: 'twittersphere',
        width: 300,
        height: 312,
        theme: {
          shell: {
            background: '#c7dacd',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
          }
        }
      }).render().start();
  .clear
  #news.grid_4.alpha
    #infohead
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      news
      = image_tag "newscon.png", { :border => 0 }
    .infoblock
      - unless @news.empty?
        - @news.each do |news|
          %h2
            = link_to truncate( news.headline, :length => 30 ), news_url( news )
      - else
        %h2 No news...be the first to post!
      %h5
        more>>
 
  #events.grid_4
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      events
      = image_tag "eventscon.png", { :border => 0 }
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  #promos.grid_4.omega
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      promos
      = image_tag "promocon.png", { :border => 0 }
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  #network.grid_4.alpha
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      network
      = image_tag "networkcon.png", { :border => 0 }
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  #stuff.grid_4
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }      
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      stuff
      = image_tag "stuffcon.png", { :border => 0 }
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  .grid_4.omega
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      fix it
    #fixit.infoblock
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  .clear
