#content.grid_12
  #midmap.grid_8.alpha
    = render :partial => 'maps/map', :locals => { :map => @map }
  #twitter.grid_4.omega
    #twtr-search-widget
    = javascript_include_tag "http://widgets.twimg.com/j/1/widget.js"
    = stylesheet_link_tag "http://widgets.twimg.com/j/1/widget.css"
    :javascript
      new TWTR.Widget({
        search: '_citycircles OR #citycircles',
        id: 'twtr-search-widget',
        loop: true,
        title: 'City Circles',
        subject: 'twittersphere',
        width: 300,
        height: 312,
        theme: {
          shell: {
            background: '#78ab75',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
          }
        }
      }).render().start();
  .clear
  #news.grid_4.alpha
    #infohead
      %h1
        news
    = image_tag "newscon.png", { :class => "buttonfloatleft", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    .clear
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  #events.grid_4
    #infohead
      %h1
        events
    = image_tag "eventscon.png", { :class => "buttonfloatleft", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    .clear
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  #promos.grid_4.omega
    #infohead
      %h1
        promos
    = image_tag "promocon.png", { :class => "buttonfloatleft", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    .clear
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  .clear
  #network.grid_4.alpha
    #infohead
      %h1
        network
    = image_tag "networkcon.png", { :class => "buttonfloatleft", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    .clear
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  #stuff.grid_4
    #infohead
      %h1
        stuff
    = image_tag "stuffcon.png", { :class => "buttonfloatleft", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }      
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    .clear
    .infoblock
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  .grid_4.omega
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      fix it
    #fixit.infoblock
      %h2
        headline
      %h2
        headline
      %h5
        more>>
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    %h1
      better
    .infoblock
      %h2
        headline
      %h2
        headline
      %h5
        more>>
  .clear
