- remote_form_for stuff, :url => stuffs_url, :onsubmit => "" do |f|
  = hidden_field_tag :lat
  = hidden_field_tag :lng
  = hidden_field_tag :interest_point_id, poi.id
  = f.label :headline
  %br
  = f.text_field :headline
  %br
  = f.label :body
  %br
  = f.text_area :body, :class => "stuffs_body"
  %br
  %br
  = f.submit "Post"
