#content.grid_12
  .grid_8#posts.alpha
    #midmap
      #content-spotlight-map
    #post
      #article
      
        %h1
          = @stuff.headline
        %p
          = "By #{ @stuff.author.login }"
        %br
        %p
          = @stuff.body
         
      #comments
        %span
          comments
        .comment
          I hope the demo is going well. :)
          %br
          %br
          = Time.now.strftime( "%m/%d/%y at %I:%M %p " )
          by caiges
        .userimage
          = image_tag "caige.jpg", { :border => 0 }
      .clear
          
  .grid_4#storyside.omega
    #twtr-search-widget
    = javascript_include_tag "http://widgets.twimg.com/j/1/widget.js"
    = stylesheet_link_tag "http://widgets.twimg.com/j/1/widget.css"
    :javascript
      new TWTR.Widget({
        search: '_citycircles OR #citycircles',
        id: 'twtr-search-widget',
        loop: true,
        title: 'City Circles',
        subject: 'twittersphere',
        width: 300,
        height: 302,
        theme: {
          shell: {
            background: '#c7dacd',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
          }
        }
      }).render().start();
    .clear
    #mostread
      %h1
        most recent stuff
      .infoblock
        - Stuff.find( :all, :limit => 9 ).each do |stuff|
          %h2
            = link_to truncate( stuff.headline, 30 ), stuff_url( stuff )
        %h5
          more>>
      
:javascript

  function loadStuffMap() {
    if ( GBrowserIsCompatible() ) {
      
      // Create news icon.
      stuffIcon = new GIcon();
      stuffAnchor = new GPoint( #{ @stuff.map_icon.icon_anchor } );
      stuffIcon.image = "#{ @stuff.map_icon.image_url }";
      stuffIcon.iconAnchor = stuffAnchor;
      stuffIcon.infoWindowMarker = stuffAnchor;
      stuffIcon.iconSize = new GSize( 43, 30 );
      stuffIcon.shadow = "#{ @stuff.map_icon.shadow_url }";
      stuffIcon.shadowSize = new GSize( 43, 30 );
      
      var stuffMap = new GMap2( $( "content-spotlight-map" ) );
      stuffMap.disableDragging();
      stuffMap.disableDoubleClickZoom();
      stuffMap.disableScrollWheelZoom();
      var stuffMarker = new GMarker( new GLatLng( #{ @stuff.lat }, #{ @stuff.lng } ), { icon : stuffIcon } );
      stuffMap.setCenter( new GLatLng( #{ @stuff.lat }, #{ @stuff.lng } ), 17 ); 
      stuffMap.addOverlay( stuffMarker );
    }
  }
  
  $j( document ).ready( loadStuffMap );
