#content.grid_12
  .grid_8#posts.alpha
    #midmap
      #content-spotlight-map
    #post
      #article
      
        %h1
          = @network.headline
        %p
          = "By #{ @network.author.login }"
        %br
        %p
          = @network.body
         
      - if current_user
        #comments
          %span
            comment on this
          %br
          %br
          - form_for @comment, :url => commentable_url do |f|
            = render :partial => "citycircles/comment_form", :locals => { :f => f }
          - if !@network.comments.empty?
            - @network.comments.each do |comment|
              .comment
                %strong 
                  = comment.title
                %br
                %br
                  = comment.body
                %br
                %br
                = friendly_datetime comment.created_at
                = "by #{ comment.author.login }"
              .userimage
                = image_tag "caige.jpg", { :border => 0 }
        .clear
          
  .grid_4#storyside.omega
    = render :partial => "citycircles/twitter_feed"
    .clear
    #mostread
      %h1
        most read networks
      .infoblock
        - Network.find( :all, :limit => 9 ).each do |network|
          %h2
            = link_to truncate( network.headline, 30 ), network_url( network )
        %h5
          more>>
      
:javascript

  function loadNetworkMap() {
    if ( GBrowserIsCompatible() ) {
      
      // Create news icon.
      networkIcon = new GIcon();
      networkAnchor = new GPoint( #{ @network.map_icon.icon_anchor } );
      networkIcon.image = "#{ @network.map_icon.image_url }";
      networkIcon.iconAnchor = networkAnchor;
      networkIcon.infoWindowMarker = networkAnchor;
      networkIcon.iconSize = new GSize( 43, 30 );
      networkIcon.shadow = "#{ @network.map_icon.shadow_url }";
      networkIcon.shadowSize = new GSize( 43, 30 );
      
      var networkMap = new GMap2( $( "content-spotlight-map" ) );
      networkMap.disableDragging();
      networkMap.disableDoubleClickZoom();
      networkMap.disableScrollWheelZoom();
      var networkMarker = new GMarker( new GLatLng( #{ @network.lat }, #{ @network.lng } ), { icon : networkIcon } );
      networkMap.setCenter( new GLatLng( #{ @network.lat }, #{ @network.lng } ), 17 ); 
      networkMap.addOverlay( networkMarker );
    }
  }
  
  $j( document ).ready( loadNetworkMap );
