#content.grid_12
  .grid_8#posts.alpha
    #midmap
      #content-spotlight-map
    #post
      #article
      
        %h1
          = @fix_it.headline
        %p
          = "By #{ @fix_it.author.login }"
        %br
        %p
          = @fix_it.body
         
      - if current_user
        #comments
          %span
            comment on this
          %br
          %br
          - form_for @comment, :url => commentable_url do |f|
            = render :partial => "citycircles/comment_form", :locals => { :f => f }
          - if !@fix_it.comments.empty?
            - @fix_it.comments.each do |comment|
              .comment
                %strong 
                  = comment.title
                %br
                %br
                  = comment.body
                %br
                %br
                = friendly_datetime comment.created_at
                = "by #{ comment.author.login }"
              .userimage
                = image_tag "caige.jpg", { :border => 0 }
        .clear
          
  .grid_4#storyside.omega
    = render :partial => "citycircles/twitter_feed"
    .clear
    #mostread
      %h1
        most recent community projects
      .infoblock
        - FixIt.find( :all, :limit => 9 ).each do |fix_it|
          %h2
            = link_to truncate( fix_it.headline, 30 ), fix_it_url( fix_it )
        %h5
          more>>
      
:javascript

  function loadFixItMap() {
    if ( GBrowserIsCompatible() ) {
      
      // Create news icon.
      fixItIcon = new GIcon();
      fixItAnchor = new GPoint( #{ @fix_it.map_icon.icon_anchor } );
      fixItIcon.image = "#{ @fix_it.map_icon.image_url }";
      fixItIcon.iconAnchor = fixItAnchor;
      fixItIcon.infoWindowMarker = fixItAnchor;
      fixItIcon.iconSize = new GSize( 43, 30 );
      fixItIcon.shadow = "#{ @fix_it.map_icon.shadow_url }";
      fixItIcon.shadowSize = new GSize( 43, 30 );
      
      var fixItMap = new GMap2( $( "content-spotlight-map" ) );
      fixItMap.disableDragging();
      fixItMap.disableDoubleClickZoom();
      fixItMap.disableScrollWheelZoom();
      var fixItMarker = new GMarker( new GLatLng( #{ @fix_it.lat }, #{ @fix_it.lng } ), { icon : fixItIcon } );
      fixItMap.setCenter( new GLatLng( #{ @fix_it.lat }, #{ @fix_it.lng } ), 17 ); 
      fixItMap.addOverlay( fixItMarker );
    }
  }
  
  $j( document ).ready( loadFixItMap );
