= form.label :login, "Username"
%br
= form.text_field :login
= error_message_on "user", "login"
%br
= form.label :password
%br
= form.password_field :password, :value => ""
= error_message_on "user", "password"
%br
= form.label :retype_password
%br
= form.password_field :password_confirmation, :value => ""
= error_message_on "user", "password_confirmation"
%br
= form.label :email
%br
= form.text_field :email
= error_message_on "user", "email"
%br
= form.check_box :agreed_with_terms
= form.label "I Agree"
= error_message_on "user", "agreed_with_terms"
%br
#terms-of-service <p>terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here </p><br/><p>terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here </p><p>terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here </p><br/><p>terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here terms will go here </p>