#content.container_12
  #userpicture.grid_2.alpha
    = image_tag @user.user_detail.avatar.url( :large )
  
  
  #userinfo.grid_7
    %h2{ :style => "padding: 20px 0px 0px 20px;" }
      = "#{ @user.user_detail.first_name } #{ @user.user_detail.last_name }"
    %p{ :style => "padding: 10px 20px 0px 20px;" }
      %strong About Me
      %br
      - if !@user.user_detail.about_me.nil?
        = @user.user_detail.about_me
      - else
        = link_to "Fill out your profile >>", settings_url
        %br
      %br
      %strong Interest / Hobbies
      %br
      = @user_hobbies_interests
      = link_to "Fill out your profile >>", settings_url if @user_hobbies_interests.empty?
  #userstops.grid_3.omega
    %h2{ :style => "padding: 20px 0px 0px 20px;" }
      My Places
    %br
    - if !@user.user_locations.empty?
      - @user.user_locations.each do |place|
        %strong{ :style => "padding: 20px;" }
          = link_to place.interest_point.label, interest_point_url( place.interest_point )
    - else
      %span{ :style => "padding: 20px" } 
        = link_to "Fill out your profile >>", settings_url 
    %br
    %br
  .clear
  
  #userpost.grid_3.alpha
    %h2{ :style => "padding: 20px 0px 0px 20px;" }
      My News
      = image_tag "newscon.png"
    %p{ :style => "padding: 10px 20px 0px 20px;" }
      - if !@user.news.empty?
        - @user.news[ 0..3 ].each do |news_item|
          = news_item.headline
      - else
        You have no news.
  #userpost.grid_3
    %h2{ :style => "padding: 20px 0px 0px 20px;" }
      My Events
      = image_tag "eventscon.png"
    %p{ :style => "padding: 10px 20px 0px 20px;" }
      - if !@user.events.empty?
        - @user.events[ 0..3 ].each do |events_item|
          = events_item.headline
      - else
        You have no events.
  #userpost.grid_3 
    %h2{ :style => "padding: 20px 0px 0px 20px;" }
      My Networks
      = image_tag "networkcon.png"
    %p{ :style => "padding: 10px 20px 0px 20px;" }
      - if !@user.networks.empty?
        - @user.networks[ 0..3 ].each do |networks_item|
          = networks_item.headline
      - else
        You have no networks.
  #userpost.grid_3.omega
    %h2{ :style => "padding: 20px 0px 0px 20px;" }
      My Stuff
      = image_tag "stuffcon.png"
    %p{ :style => "padding: 10px 20px 0px 20px;" }
      - if !@user.stuffs.empty?
        - @user.stuffs[ 0..3 ].each do |stuff_item|
          = stuff_item.headline
      - else
        You have no stuff.

