#content.container_12
  #usersidbar.grid_3.alpha
    #userpicture.grid_3.almega
      #pic
        = image_tag @user.user_detail.avatar.url( :large )
        
    .clear
    #userabout.grid_3.almega
      %h1
        = "#{ @user.user_detail.first_name } #{ @user.user_detail.last_name }"
      %h2
        About Me
      %p
        - if !@user.user_detail.about_me.nil?
          = @user.user_detail.about_me
        - else
          = link_to "Complete your profile >>", settings_url
      %h2
        Interest / Hobbies
      %p
        = @user_hobbies_interests
        = link_to "Complete your profile >>", settings_url if @user_hobbies_interests.empty?
      %h2
        My Places
      %p
        - if !@user.user_locations.empty?
          - @user.user_locations.each do |place|
            = link_to place.interest_point.label, interest_point_url( place.interest_point )
        - else
          = link_to "Complete your profile >>", settings_url
      %br
      %br
      %table{ :width => "100%" }
        %tr
          %td{ :align => "center"}
            = image_tag @ad.graphic.url(:large)
  .grid_9.omega 
    #profmap.grid_9
    .clear
    %table
      %tr
        %td.bigtab
          %h2
            My News
          %p
            - if !@user.news.empty?
              - @user.news[ 0..3 ].each do |news_item|
                = news_item.headline
            - else
              You have no news.
        %td.liltab
        %td.bigtab
          %h2
            My Events
          %p
            - if !@user.events.empty?
              - @user.events[ 0..3 ].each do |events_item|
                = events_item.headline
            - else
              You have no events.
        %td.liltab
        %td.bigtab
          %h2
            My Networks
          %p
            - if !@user.networks.empty?
              - @user.networks[ 0..3 ].each do |networks_item|
                = networks_item.headline
            - else
              You have no networks.
        %td.liltab
        %td.bigtab
          %h2
            My Stuff 
          %p
            - if !@user.stuff.empty?
              - @user.stuff[ 0..3 ].each do |stuff_item|
                = stuff_item.headline
            - else
              You have no stuff.
  .clear
  
:javascript

  function loadProfileMap() {
    if ( GBrowserIsCompatible() ) {     
      
      var profileMap = new GMap2( $( "profmap" ) );
      profileMap.disableDragging();
      profileMap.disableDoubleClickZoom();
      profileMap.disableScrollWheelZoom();
      profileMap.setCenter( new GLatLng( #{ @default_map.lat }, #{ @default_map.lng } ), 11 ); 

    }
  }
  
  $j( document ).ready( loadProfileMap );
          
