#content.grid_12
  .grid_8#posts.alpha
    #midmap
      #content-spotlight-map
    #post
      #article
      
        %h1
          = @event.headline
        %p
          = "By #{ @event.author.login }"
        %br
        %p
          %strong When
          = @event.body
         
      #comments
        %span
          comments
        .comment
          I hope the demo is going well. :)
          %br
          %br
          = Time.now.strftime( "%m/%d/%y at %I:%M %p " )
          by caiges
        .userimage
          = image_tag "caige.jpg", { :border => 0 }
      .clear
          
  .grid_4#storyside.omega
    #twtr-search-widget
    = javascript_include_tag "http://widgets.twimg.com/j/1/widget.js"
    = stylesheet_link_tag "http://widgets.twimg.com/j/1/widget.css"
    :javascript
      new TWTR.Widget({
        search: '_citycircles OR #citycircles',
        id: 'twtr-search-widget',
        loop: true,
        title: 'City Circles',
        subject: 'twittersphere',
        width: 300,
        height: 302,
        theme: {
          shell: {
            background: '#c7dacd',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
          }
        }
      }).render().start();
    .clear
    #mostread
      %h1
        most talked about
      .infoblock
        - Event.find( :all, :limit => 9 ).each do |event|
          %h2
            = link_to truncate( event.headline, 30 ), event_url( event )
        %h5
          more>>
      
:javascript

  function loadEventMap() {
    if ( GBrowserIsCompatible() ) {
      
      // Create news icon.
      eventIcon = new GIcon();
      eventAnchor = new GPoint( #{ @event.map_icon.icon_anchor } );
      eventIcon.image = "#{ @event.map_icon.image_url }";
      eventIcon.iconAnchor = eventAnchor;
      eventIcon.infoWindowMarker = eventAnchor;
      eventIcon.iconSize = new GSize( 43, 30 );
      eventIcon.shadow = "#{ @event.map_icon.shadow_url }";
      eventIcon.shadowSize = new GSize( 43, 30 );
      
      var eventMap = new GMap2( $( "content-spotlight-map" ) );
      eventMap.disableDragging();
      eventMap.disableDoubleClickZoom();
      eventMap.disableScrollWheelZoom();
      var eventMarker = new GMarker( new GLatLng( #{ @event.lat }, #{ @event.lng } ), { icon : eventIcon } );
      eventMap.setCenter( new GLatLng( #{ @event.lat }, #{ @event.lng } ), 17 ); 
      eventMap.addOverlay( eventMarker );
    }
  }
  
  $j( document ).ready( loadEventMap );
