#content.grid_12
  .grid_8#posts.alpha
    #midmap
      #content-spotlight-map
    #post
      #article
      
        %h1
          = @event.headline
        %p
          = "By #{ @event.author.login }"
        %br
        %p
          %strong When
          = @event.body
         
      - if current_user
        #comments
          %span
            comment on this
          %br
          %br
          - form_for @comment, :url => commentable_url do |f|
            = render :partial => "citycircles/comment_form", :locals => { :f => f }
          - if !@event.comments.empty?
            - @event.comments.each do |comment|
              .comment
                %strong 
                  = comment.title
                %br
                %br
                  = comment.body
                %br
                %br
                = friendly_datetime comment.created_at
                = "by #{ comment.author.login }"
              .userimage
                = image_tag "caige.jpg", { :border => 0 }
        .clear
          
  .grid_4#storyside.omega
    = render :partial => "citycircles/twitter_feed"
    .clear
    #mostread
      %h1
        most talked about
      .infoblock
        - Event.find( :all, :limit => 9 ).each do |event|
          %h2
            = link_to truncate( event.headline, 30 ), event_url( event )
        %h5
          more>>
      
:javascript

  function loadEventMap() {
    if ( GBrowserIsCompatible() ) {
      
      // Create news icon.
      eventIcon = new GIcon();
      eventAnchor = new GPoint( #{ @event.map_icon.icon_anchor } );
      eventIcon.image = "#{ @event.map_icon.image_url }";
      eventIcon.iconAnchor = eventAnchor;
      eventIcon.infoWindowMarker = eventAnchor;
      eventIcon.iconSize = new GSize( 43, 30 );
      eventIcon.shadow = "#{ @event.map_icon.shadow_url }";
      eventIcon.shadowSize = new GSize( 43, 30 );
      
      var eventMap = new GMap2( $( "content-spotlight-map" ) );
      eventMap.disableDragging();
      eventMap.disableDoubleClickZoom();
      eventMap.disableScrollWheelZoom();
      var eventMarker = new GMarker( new GLatLng( #{ @event.lat }, #{ @event.lng } ), { icon : eventIcon } );
      eventMap.setCenter( new GLatLng( #{ @event.lat }, #{ @event.lng } ), 17 ); 
      eventMap.addOverlay( eventMarker );
    }
  }
  
  $j( document ).ready( loadEventMap );
