
#content.grid_12
  #feed
    %h1
      News feed
    %a{ :href => "#" }
      = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
    %a{ :href => "#" }
      = image_tag "smallrss.png", { :class => "buttonfloat", :border => 0 }
    .clear
    - @news.each do |news_item| 
      #listitem 
        %h2= news_item.headline
        %p= news_item.body
        
= debug @news


