
#content.grid_12
  .grid_8#posts.alpha
    #midmap
      #news-map
    #post
      #article
      
        %h1
          = @news.headline
        %p
          = @news.body
         
      #comments
        %span
          comments
        .comment
          hey dude
        .userimage
          = image_tag "smalladd.png", { :class => "buttonfloat", :border => 0 }
      .clear
          
  .grid_4#storyside.omega
    #twtr-search-widget
    = javascript_include_tag "http://widgets.twimg.com/j/1/widget.js"
    = stylesheet_link_tag "http://widgets.twimg.com/j/1/widget.css"
    :javascript
      new TWTR.Widget({
        search: '_citycircles OR #citycircles',
        id: 'twtr-search-widget',
        loop: true,
        title: 'City Circles',
        subject: 'twittersphere',
        width: 300,
        height: 302,
        theme: {
          shell: {
            background: '#c7dacd',
            color: '#ffffff'
          },
          tweets: {
            background: '#ffffff',
            color: '#444444',
            links: '#1985b5'
          }
        }
      }).render().start();
    .clear
    #mostread
      %h1
        most read stories
      .infoblock
        - News.find( :all, :limit => 9 ).each do |news_item|
          %h2
            = link_to truncate( news_item.headline, 30 ), news_url( news_item )
        %h5
          more>>
      
:javascript

  function loadNewsMap() {
    if ( GBrowserIsCompatible() ) {
      
      // Create news icon.
      newsIcon = new GIcon();
      newsAnchor = new GPoint( #{ @news.map_icon.icon_anchor } );
      newsIcon.image = "#{ @news.map_icon.image_url }";
      newsIcon.iconAnchor = newsAnchor;
      newsIcon.infoWindowMarker = newsAnchor;
      newsIcon.iconSize = new GSize( 43, 30 );
      newsIcon.shadow = "#{ @news.map_icon.shadow_url }";
      newsIcon.shadowSize = new GSize( 43, 30 );
      
      var newsMap = new GMap2( $( "news-map" ) );
      newsMap.disableDragging();
      newsMap.disableDoubleClickZoom();
      newsMap.disableScrollWheelZoom();
      var newsMarker = new GMarker( new GLatLng( #{ @news.lat }, #{ @news.lng } ), { icon : newsIcon } );
      newsMap.setCenter( new GLatLng( #{ @news.lat }, #{ @news.lng } ), 17 ); 
      newsMap.addOverlay( newsMarker );
    }
  }
  
  $j( document ).ready( loadNewsMap );
  