= f.label :first_name
%br
= f.text_field :first_name
= error_message_on "user_profile", "first_name"
%br
= f.label :last_name
%br
= f.text_field :last_name
= error_message_on "user_profile", "last_name"
%br
= f.label :about_me
%br
= f.text_area :about_me, :rows => 5
= error_message_on "user_profile", "about_me"