.grid_12
  #tabs
    %ul
      %li
        %a{ :href => "#account-settings" } Account Settings
      %li
        %a{ :href => "#profile" } Profile
      %li
        %a{ :href => "#phones" } Phones
      %li
        %a{ :href => "#places" } Places
      %li
        %a{ :href => "#hobbies" } Hobbies
      %li
        %a{ :href => "#interests" } Interests
    #account-settings
      #user_form
        = render :partial => "account_settings", :locals => { :user => @user }
    #profile
      #user_detail_form
        = render :partial => "profile", :locals => { :user_detail => @user.user_detail }
    #phones
      %ul#phone_list
        = render :partial => "phone", :collection => @user.user_wireless_profiles
      #user_wireless_profile_form
        = render :partial => "user_wireless_profile", :locals => { :user_wireless_profile => @user_wireless_profile }
    #places
      %ul#location_list
        = render :partial => "location", :collection => @user.user_locations
      #user_location_form
        = render :partial => "user_location", :locals => { :location => @user_location }
    #hobbies
      %ul#hobby_list
        = render :partial => "hobby", :collection => @user.user_hobbies
      #user_hobby_form
        = render :partial => "user_hobby", :locals => { :user_hobby => @user_hobby }
    #interests
      %ul#interest_list
        = render :partial => "interest", :collection => @user.user_interests
      #user_interest_form
        = render :partial => "user_interest", :locals => { :user_interest => @user_interest }

:javascript
  $j( function() { $j( "#tabs" ).tabs(); } );