- form_for post, :url => posts_url, :html => { :multipart => true, :target => "frame" } do |f|
  = hidden_field_tag :lat
  = hidden_field_tag :lng
  = hidden_field_tag :interest_point_id, poi.id
  = hidden_field_tag :post_type_id, post_type.id
  = f.label :headline
  %br
  = f.text_field :headline
  %br
  = f.label "Short Headline (40 characters max.)"
  %br
  = f.text_field :short_headline
  %br
  - if params[ :content_type ] == "event"
    = f.label :starts_at
    %br
    = datetime_select :event, :starts_at, :twelve_hour => true
    %br
    = f.label :ends_at
    %br
    = datetime_select :event, :ends_at, :twelve_hour => true
  %br
  %br
  = f.label :attachments
  %br
  %br
  #post_attachments
    %ul#post_attachments_files
    = link_to_function "Add Attachment", "citycircles.posts.add_attachment_field();", :html => { :style => "font-size: 0.9em;font-color: ;" }
  %br
  = f.label :body
  %br
  = f.text_area :body, :class => "wysiwyg"
  %br
  = check_box_tag "certification", ""
  I certify that my post is fair, accurate, timely and relevant to this community.
  %br
  %br
  = f.submit "Post"
  %iframe{ :id => "frame", :name => "frame", :style => "height: 1px; width: 1px;" }
