- form_for post, :url => posts_url, :html => { :multipart => true, :target => "frame" } do |f|
  = hidden_field_tag :lat
  = hidden_field_tag :lng
  = hidden_field_tag :interest_point_id, poi.id
  = hidden_field_tag :post_type_id, post_type.id
  = f.label :headline
  %br
  = f.text_field :headline
  %br
  = f.label "Short Headline (40 characters max.)"
  %br
  = f.text_field :short_headline
  %br
  = f.label :attachment
  %br
  = f.file_field :data
  %br
  = f.label :body
  %br
  = f.text_area :body, :class => "wysiwyg"
  %br
  %br
  = f.submit "Post"
  %iframe{ :id => "frame", :name => "frame", :style => "height: 1px; width: 1px;" }
