- remote_form_for post, :url => posts_url, :onsubmit => "" do |f|
  = hidden_field_tag :lat
  = hidden_field_tag :lng
  = hidden_field_tag :interest_point_id, poi.id
  = hidden_field_tag :post_type_id, post_type.id
  = f.label :headline
  %br
  = f.text_field :headline
  %br
  = f.label :body
  %br
  = f.text_area :body, :class => "wysiwyg"
  %br
  %br
  = f.submit "Post"
