#content.grid_12
  #feed
    %h1
      = params[ :shortname ].singularize.capitalize
      posts for 
      - if @poi != nil
        = @poi.label
      - else
        City Circles
    %a{ :href => "#" }
      = link_to image_tag("smallrss.png", { :class => "buttonfloat", :border => 0 }), :action => "index", :format => "xml", :shortname => params[ :shortname ]
    .clear
    - @posts.each do |post| 
      #listitem 
        %h2= post.headline
        %p 
          by 
          = post.author.login
          @
          = friendly_datetime( post.created_at )
