#orgs.grid_12
  %table{ :width => '100%' }
    %tr
      %td
        %h1
          = @organization.name
        %br
        %p
          = @organization.description
        %br
      %td{ :align => 'right' }
        New
        = link_to_remote "Ad", :url => { :action => :new_ad_campaign, :id => @organization.id }
        |
        = link_to_remote "Promo", :url => { :action => :new_promo_campaign, :id => @organization.id }
  #new_campaign
  %br
  %table{ :width => "100%" }
    %tr
      %th
        Pending Campigns
        - if !@pending_campaigns.empty?
          - @pending_campaigns.each do |campaign|
            %tr
              %td
                = campaign.label
        - else
          %tr
            %td
              No pending campaigns
  %br
  %table{ :width => "100%" }
    %tr
      %th
        Current Campaigns
        - if !@current_campaigns.empty?
          - @current_campaigns.each do |campaign|
            %tr
              %td
                = campaign.label
        - else
          %tr
            %td
              No current campaigns
  %br
  %table{ :width => "100%" }
    %tr
      %th
        Past Campaigns
        - if !@past_campaigns.empty?
          - @past_campaigns.each do |campaign|
            %tr
              %td
                = campaign.label
        - else
          %tr
            %td
              No past campaigns