#orgs.grid_12
  %h1
    = @organization.name
  %br
  %p
    = @organization.description
  %br
  %h2
    New campaign
  %br
  = link_to_remote "Ad", :url => { :action => :new_ad_campaign, :id => @organization.id }
  |
  = link_to_remote "SMS", :url => { :action => :new_sms_campaign, :id => @organization.id }
  |
  = link_to_remote "Email", :url => { :action => :new_email_campaign, :id => @organization.id }
  %br
  %br
  #new_campaign
  %br
  %table{ :width => "100%" }
    %tr
      %td{ :align => "center" }
        Pending Campigns
        %br
        - if !@pending_campaigns.empty?
          - @pending_campaigns.each do |campaign|
            = campaign.label
        - else
          %p
            No pending campaigns
      %td{ :align => "center" }
        Current Campaigns
        %br
        - if !@current_campaigns.empty?
          - @current_campaigns.each do |campaign|
            = campaign.label
        - else
          %p
            No current campaigns
      %td{ :align => "center" }
        Past Campaigns
        - if !@past_campaigns.empty?
        
        - else
          %p
            No past campaigns