%ul
  %li{ :class => request.url.match( '/admin/inbox' ) ? "admin_sidebar_selected" : "" }
    = link_to "Inbox", :controller => "inbox", :action => "index"
  %li{ :class => request.url.match( '/admin/maps' ) ? "admin_sidebar_selected" : "" }
    = link_to "Maps", :controller => "maps", :action => "index"
  %li{ :class => request.url.match( '/admin/news' ) ? "admin_sidebar_selected" : "" }
    = link_to "News", :controller => "news", :action => "index"
  %li{ :class => request.url.match( '/admin/events' ) ? "admin_sidebar_selected" : "" }
    = link_to "Events", :controller => "events", :action => "index"
  %li{ :class => request.url.match( '/admin/promos' ) ? "admin_sidebar_selected" : "" }
    = link_to "Promos", :controller => "maps", :action => "index"
  %li{ :class => request.url.match( '/admin/networks' ) ? "admin_sidebar_selected" : "" }
    = link_to "Networks", :controller => "networks", :action => "index"
  %li{ :class => request.url.match( '/admin/stuff' ) ? "admin_sidebar_selected" : "" }
    = link_to "Stuff", :controller => "stuff", :action => "index"
  %li{ :class => request.url.match( '/admin/improve' ) ? "admin_sidebar_selected" : "" }
    = link_to "Fix/Better", :controller => "improve", :action => "index"
  %li{ :class => request.url.match( '/admin/users' ) ? "admin_sidebar_selected" : "" }
    = link_to "Users", index_admin_users_url
  %li{ :class => request.url.match( '/admin/interests' ) ? "admin_sidebar_selected" : "" }
    = link_to "Interests", index_admin_interests_url
  %li{ :class => request.url.match( '/admin/hobbies' ) ? "admin_sidebar_selected" : "" }
    = link_to "Hobbies", index_admin_hobbies_url
  %li{ :class => request.url.match( '/admin/advertisers' ) ? "admin_sidebar_selected" : "" }
    = link_to "Advertisers", :controller => "maps", :action => "index"
  %li{ :class => request.url.match( '/admin/mobile' ) ? "admin_sidebar_selected" : "" }
    = link_to "Mobile", :controller => "mobile", :action => "index"
  %li{ :class => request.url.match( '/admin/pages' ) ? "admin_sidebar_selected" : "" }
    = link_to "Pages", index_admin_pages_url
  %li{ :class => request.url.match( '/admin/suggestions' ) ? "admin_sidebar_selected" : "" }
    = link_to "Suggestions", index_admin_suggestions_url
