%fieldset#signin
  %legend Sign In
  = f.label :username
  %br
  = f.text_field :login
  %div#loginValidatorMsg
  %br
  %br
  = f.label :password
  %br
  = f.password_field :password
  %div#passwordValidatorMsg
  %br
  %br
  = f.check_box :remember_me
  = f.label :remember_me
  %br
  %br
  = f.submit "Login"

:javascript
  var loginValidator = new LiveValidation( 'user_session_login', { validMessage: "Ok", insertAfterWhatNode: "loginValidatorMsg" } );
  loginValidator.add( Validate.Presence, { failureMessage: "Cannot be blank!" } );
  loginValidator.add( Validate.Length, { minimum: 5, tooShortMessage: "Must be greater than 5 characters in length!" } );
  var passwordValidator = new LiveValidation( 'user_session_password', { validMessage: "Ok", insertAfterWhatNode: "passwordValidatorMsg" } );
  passwordValidator.add( Validate.Presence, { failureMessage: "Cannot be blank!" } );
  passwordValidator.add( Validate.Length, { minimum: 5, tooShortMessage: "Must be greater than 5 characters in length!" } );