= f.label :first_name
%br
= f.text_field :first_name
= error_message_on "user_detail", "first_name"
%br
= f.label :last_name
%br
= f.text_field :last_name
= error_message_on "user_detail", "last_name"
%br
= f.label :twitter_username
%br
= f.text_field :twitter_username
= error_message_on "user_detail", "twitter_username"
%br
= f.label :avatar
%br
= f.file_field :avatar
= error_message_on "user_detail", "avatar"
%br
= f.label :about_me
%br
= f.text_area :about_me, :rows => 5
= error_message_on "user_detail", "about_me"
