!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %title oo City Circles Administration oo
    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "text"
    = stylesheet_link_tag "960"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "custom-theme/jquery-ui-1.7.2.custom.css"
    = javascript_include_tag :defaults
    = active_scaffold_includes
    = javascript_include_tag "jquery-1.3.2.min.js"
    = javascript_include_tag "jquery-ui-1.7.2.custom.min.js"
    = javascript_include_tag "map.js"
    :javascript
      var $j = jQuery.noConflict();
    = GMap.header

  %body{ :onunload => "GUnload()" }
    #wrapper
      #admin.container_12
        #admin_bar.grid_12
          .grid_4.alpha
            %strong City Circles Administration
          .grid_8.omega
            %ul#adminnavigation
              %li
                = link_to "view site", root_url
              %li
                -if current_user_session.nil?
                  %a#signinlink{ :href => "#" } sign in
                -else 
                  = link_to "sign out (#{ current_user.login })", user_session_url( current_user ), :method => :delete
          .clear
        .clear
        
        - if !flash[ :notice ].nil?
          .grid_12
            #notice
              = flash[ :notice ]
          .clear
        
        #admin_container.grid_12
          %table#admin_body
            %tr
              %td#admin_sidebar
                = render :partial => 'admin/admin/sidebar'
              %td#admin_content
                = yield
        .clear