!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %title oo City Circles oo
    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "960"
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "custom-theme/jquery-ui-1.7.2.custom.css"
    = stylesheet_link_tag "jquery.tooltip.css"
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery-1.3.2.min.js"
    = javascript_include_tag "jquery-ui-1.7.2.custom.min.js"
    = javascript_include_tag "jquery.dimensions.min.js"
    = javascript_include_tag "jquery.bgiframe"
    = javascript_include_tag "jquery.tooltip.min.js"
    = javascript_include_tag "livevalidation_standalone.js"
    = javascript_include_tag "tiny_mce/tiny_mce_src.js"
    = javascript_include_tag "citycircles/CCTinyMCEManager.js"
    = javascript_include_tag "citycircles/CCTinyMCEFileUpload.js"
    = GMap.header
    = javascript_include_tag "markerGroup"
    = javascript_include_tag "citycircles/CCGMapExtras"
    :javascript
      var $j = jQuery.noConflict();
      
      $j( document ).ready( function(){
      	$j( ".trigger" ).click( function(){
      		$j( ".panel" ).toggle( "fast" );
      		$j( this ).toggleClass( "active" );
      		return false;
      	} );
      } );
      
      tinyMCE.init( {
        mode : "specific_textareas",
        theme : "citycircles",
        plugins : "fullscreen",
        theme_citycircles_buttons3_add : "fullscreen", 
        theme_advanced_toolbar_location : "top"
      } );
      
      
      // Call GUnload when page unloads. Memory :)
      Event.observe( window, "onunload", GUnload );
    
  %body
  
    #wrapper.container_12

    
      .grid_3#logo
        = link_to image_tag( "logo.png", :alt => 'City Circles' ), root_url
      .grid_9#navigation
        #searchbar
          - form_tag "/search" do
            = text_field_tag "query", "Search City Circles...", :onfocus => "this.value='';", :onblur => "this.value = ( this.value.length == 0 ? 'Search City Circles...' : this.value )", :size => "35"  
        #addzone
          %a{ :href => "#" }
            = image_tag "addblank.png", { :border => 0 }
      
        %ul
          %a{ :href => "#" }
            %li 
              .push
                add content
          
            -if current_user_session.nil?
              %li
                %a#signinlink{ :href => signin_url } sign in
                %span
                  or
                %a#registerlink{ :href => signup_url } register
            -else
              %li
                = link_to "sign out (#{ current_user.login })", signout_url, :method => :delete
              %li
                = link_to "profile", ( current_user_session.nil? ? "#" : user_url )
              %li
                = link_to "settings", ( current_user_session.nil? ? "#" : settings_url )
          - if !current_user.nil? and current_user.admin?
            %li
              = link_to "admin", admin_root_url
          
      .clear
     

      .grid_12{ :style => "margin-top: 0;" }
        - if flash[ :notice ].nil?
          #notice{ :style => "display: none;" }
            = flash[ :notice ]
        - else
          #notice
            = flash[ :notice ]
        = yield
      .clear

      .grid_12
        #footer
          %ul
            - @pages.each do |page|
              %li
                = link_to page.title, page_by_shortname_url( page.shortname )
      .clear
    #whoops{ :title => "Whoops!" }
      #whoops_message
    
    .panel
      %h3 Make us Better!
      %br
      - remote_form_for @suggestion do |f|
        = f.label "Your Email"
        %br
        = f.text_field :email
        %br
        = f.label "Suggestion"
        %br
        = f.text_area :body, { :rows => 5, :cols => 30 }
        %br
        = f.submit "Submit Suggestion", { :id => "suggestion_submit" }
    %a{ :class => "trigger", :href => "#" }   
      %center
        <em>F</em>
        <em>e</em>
        <em>e</em>
        <em>d</em>
        <em>b</em>
        <em>a</em>  
        <em>c</em>
        <em>k</em>
    :javascript
      $j( '#whoops' ).dialog( { autoOpen : false, resizable : false } );
      $j( '#whoops' ).dialog( 'option', 'buttons', { "Ok" : function() { $j( this ).dialog( "close" ); } } );
      
      // Google Analytics
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      try {
        var pageTracker = _gat._getTracker("UA-10451956-1");
        pageTracker._trackPageview();
      } catch(err) {}