!!! XML
!!! Strict
%html
  %head
    %title railsphx
    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "text"
    = stylesheet_link_tag "960"
    = stylesheet_link_tag "application"
  %body
    #content
      = yield