!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %title oo City Circles oo
    = stylesheet_link_tag "reset"
    = stylesheet_link_tag "960"
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = javascript_include_tag "tiny_mce/tiny_mce_src.js"
    = javascript_include_tag "citycircles/CCTinyMCEManager.js"
    = javascript_include_tag "citycircles/CCTinyMCEFileUpload.js"
    = javascript_include_tag "tiny_mce/tiny_mce_popup.js"
  %body
    = yield